body {
  background-color: #f0f0f0;
  font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  margin: 0;
  padding: 0;
  color: rgb(24, 24, 24) !important;
}
