<link rel="stylesheet" href="/client/components/analytics/topStats/topStats.css" />
<div class="top-stats-container">
    <div class="top-stat">
      <div class="stat-value">{{ analyticsData.assignedTickets || 0 }}</div>
      <div class="stat-label">Assigned Tickets</div>
    </div>
    <div class="top-stat">
      <div class="stat-value">{{ analyticsData.closedTickets || 0 }}</div>
      <div class="stat-label">Resolved Tickets</div>
    </div>
    <div class="top-stat">
      <div class="stat-value">{{ analyticsData.pendingTickets || 0 }}</div>
      <div class="stat-label">Pending Tickets</div>
    </div>
  </div>