<link rel="stylesheet" href="/client/app/admin/admin.css" />
<div ng-include="'/client/components/sidePanel/sidePanel.html'"></div>
<div class="container" ng-controller="AdminController">
  <div id="detailsModal" ng-show="show">
    <div class="modal-content">
      <div ng-include="'/client/components/detailsForm/detailsForm.html'"></div>
    </div>
  </div>

  <script type="text/ng-template" id="fieldModal.html">
    <div class="modal-header">
      <button class="close" type="button" ng-click="cancel()">&times;</button>
      <h3 class="modal-title">Add Ticket Type</h3>
    </div>
    <div ng-include="'/client/components/ticketFieldsModal/ticketFieldsModal.html'"></div>
  </script>

  <div class="content">
    <script type="text/ng-template" id="addUserModal.html">
      <div ng-include="'/client/components/addUserModal/addUserModal.html'"></div>
    </script>
    <h3>Employees</h3>
    <table class="users-table" ng-show="users.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Username</th>
          <th>Email</th>
          <th>Joined On</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{ user.name }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.createdAt | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
