.ticket-table {
    width: 98vw;
    border-collapse: collapse;
    border-top: none;
  }
  
  .ticket-table th, .ticket-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

    .ticket-table th {
        border-top: none;
    }
  
  .ticket-table tbody tr:hover {
    background-color: #f2f2f2;
  }

  /* Priority Styles */
.high-priority {
    color: red;
    background-color: #ffe5e5; /* Extremely light red */
    padding: 0.4rem 0.7rem;
    border-radius: 1.3rem;
    font-weight:500;
  }
  
  .medium-priority {
    color: #ffcc00; /* Yellow */
    background-color: #ffffe5;
    padding: 0.4rem 0.7rem;
    border-radius: 1.3rem;
    font-weight:500;
  }
  
  .low-priority {
    color: green;
    background-color: #e5ffe5; /* Extremely light green */
    padding: 0.4rem 0.7rem;
    border-radius: 1.3rem;
    font-weight:500;
  }

  .type {
    padding: 0.4rem 0.7rem;
    border-radius: 1.3rem;
    font-weight:500;
    background-color: #f2f2f2; /* Light grey */
  }

  .search {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 80vw;
  }

  .open-status {
    color: #ffcc00; /* Yellow */
    background-color: #ffffe5; /* Extremely light yellow */
    padding: 0.4rem 0.7rem;
    border-radius: 1.3rem;
  }
  
  .in-progress-status {
    color: green;
    background-color: rgba(0, 255, 0, 0.3); /* Extremely light green */
    padding: 0.4rem 0.7rem;
    border-radius: 1.3rem;
  }
  
  .closed-status {
    color: purple;
    background-color: rgba(128, 0, 128, 0.3); /* Extremely light purple */
    padding: 0.4rem 0.7rem;
    border-radius: 1.3rem;
  }
  
  /* Custom CSS for modern select elements */
.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* Remove default appearance for Safari */
  -moz-appearance: none; /* Remove default appearance for Firefox */
  border: 1px solid #ccc; /* Add border */
  padding: 8px 12px; /* Add padding */
  font-size: 16px; /* Set font size */
  background-color: #fff; /* Set background color */
  color: #333; /* Set text color */
  cursor: pointer; /* Set cursor to pointer */
  border-radius: 2rem;
  width: 10vw;
}

option {
  border-radius: 2rem;
}

.select-wrapper::before {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none; /* Disable pointer events */
}

/* Optional: Hover effect */
.select-wrapper select:hover {
  border-color: #999; /* Change border color on hover */
}

input {
  max-width: 40vw;
}