<link rel="stylesheet" href="/client/components/ticketsTable/ticketsTable.css" />
<table ng-show="tickets.length" class="ticket-table" ng-controller="TicketsTableController">
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Title</th>
      <th>Priority</th>
      <th>Description</th>
      <th>Status</th>
      <th>Source</th>
      <th>Type</th>
      <th>Related To</th>
      <th>Client Name</th>
      <th>Request Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in tickets" ng-click="openTicketModal(ticket)">
      <td>#TC-{{ $index+1 }}</td>
      <td>{{ ticket.title }}</td>
      <td><span ng-class="{'high-priority': ticket.priority === 'High', 'medium-priority': ticket.priority === 'Medium', 'low-priority': ticket.priority === 'Low'}">{{ ticket.priority }}</span></td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.source }}</td>
      <td><span class="type"> {{ticket.type }}</span></td>
      <td>{{ ticket.relatedTo }}</td>
      <td>{{ ticket.clientDetails.name }}</td>
      <td>{{ ticket.createdAt | date:'medium' }}</td>
    </tr>
  </tbody>
</table>
