<link rel="stylesheet" href="/client/components/brandAdminsModal/brandAdminsModal.css" />
<div class="modal-header">
  <h4 class="modal-title">Admin Management</h4>
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
</div>
<div class="modal-body">
  <!-- Admin Form -->
  <div class="admin-form">
    <!-- <h5>Add Admin</h5>
    <form name="addAdminForm" ng-submit="addAdmin()">
      <div class="form-group">
        <label for="adminEmail">Email Address</label>
        <input type="email" name="email" class="form-control" id="adminEmail" ng-model="newAdminEmail" ng-pattern="/^[a-zA-Z\d][^\s@]+@[^\s@]+\.[a-zA-Z]+$/" required />
        <p class="error-message" ng-show="addAdminForm.email.$error.pattern && addAdminForm.email.$dirty">Invalid email address.</p>
      </div>
      <button type="submit" class="btn btn-primary">Add Admin</button>
    </form> -->
    <div ng-include="'/client/components/addUserModal/addUserModal.html'"></div>
  </div>
  <!-- Admin List -->
  <div class="admin-list">
    <h5>Admin List</h5>
    <ul>
      <li ng-repeat="admin in admins">
        <!-- Display admin details -->
        <div class="admin-details">
          <div class="admin-name">{{ admin.name }}</div>
          <div class="admin-email">{{ admin.email }}</div>
          <hr />
        </div>
      </li>
    </ul>
  </div>
</div>
