<link rel="stylesheet" href="/client/components/brandAdminsModal/brandAdminsModal.css" />
<div class="modal-header">
  <h4 class="modal-title">Admin Management</h4>
  <button type="button" class="close" ng-click="closeModal()">&times;</button>
</div>
<div class="modal-body">
  <!-- Admin Form -->
  <div class="admin-form">
    <div ng-include="'/client/components/addUserModal/addUserModal.html'"></div>
  </div>
  <!-- Admin List -->
  <div class="admin-list">
    <h5>Admin List</h5>
    <ul>
      <li ng-repeat="admin in admins">
        <!-- Display admin details -->
        <div class="admin-details">
          <div class="admin-name">{{ admin.name }}</div>
          <div class="admin-email">{{ admin.email }}</div>
          <hr />
        </div>
      </li>
    </ul>
  </div>
</div>
