<link rel="stylesheet" href="/client/components/detailsForm/detailsForm.css" />
<div class="container" ng-controller="DetailsFormController">
  <div class="content">
    <div class="heading-section">
      <h2>Complete your details!</h2>
    </div>
    <form name="addDetailsForm" class="form-section" ng-submit="submitForm()">
      <div class="form-content">
        <div class="form-field" ng-hide="hasCredentials()">
          <label for="name">Your Name <span class="required-star">*</span></label>
          <div class="input-container">
            <input type="text" id="name" placeholder="Name" ng-model="formData.name" name="name" ng-pattern="/^[a-zA-Z\s]+$/" ng-required="!hasCredentials()" />
            <p class="error-message" ng-show="addDetailsForm.name.$error.pattern && addDetailsForm.name.$dirty">Name should only contain letters.</p>
          </div>
        </div>
        <div class="form-field" ng-hide="hasCredentials()">
          <label for="username">Username <span class="required-star">*</span></label>
          <div class="input-container">
            <input type="text" id="username" placeholder="Username" ng-model="formData.username" name="username" ng-pattern="/^[^@]{0,8}$/" ng-required="!hasCredentials()" />
            <p class="error-message" ng-show="addDetailsForm.username.$error.pattern && addDetailsForm.username.$dirty">Username can only have 8 characters & @ is not allowed!</p>
          </div>
        </div>
        <div class="form-field" ng-show="isAdmin">
          <label for="email">Brand logo</label>
          <div class="input-container">
            <input type="file" id="logo" onchange="angular.element(this).scope().uploadImage(this.files)" />
          </div>
        </div>
        <p class="error-message" ng-show="error">{{ error }}</p>
        <button class="continue-button" type="submit">Add details</button>
      </div>
    </form>
  </div>
</div>
