.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.heading-section {
  margin: 20px 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

.input-container {
  position: relative;
}

input {
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.continue-button,
button {
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 8px;
  border: none;
  color: #fff;
  text-decoration: none;
}

.name {
  display: flex;
  justify-content: space-between;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input-container {
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.required-star {
  color: red;
  margin-left: 5px; /* Adjust margin as needed */
}

