<link rel="stylesheet" href="/client/components/logModal/logModal.css" />
<div class="modal-header">
  <h3 class="modal-title">Log Details</h3>
</div>
<div class="modal-body">
  <!-- Display previous and updated ticket details here -->
  <div class="left-side">
    <h4>Previous Ticket</h4>
    <!-- Display previous ticket details -->
    <ul>
      <li ng-if="field != '_id' && field != 'ticketId'" ng-repeat="(field, value) in previousTicket"><span ng-class="{ 'red': isChanged(field) }">{{ field }}: {{ checkForValue(field, value) }}</span></li>
    </ul>
  </div>
  <div class="right-side">
    <h4>Updated Ticket</h4>
    <!-- Display updated ticket details -->
    <ul>
      <li ng-if="field != '_id' && field != 'ticketId'" ng-repeat="(field, value) in updatedTicket">
        <!-- Apply ng-class to highlight changed fields -->
        <span ng-class="{ 'green': isChanged(field) }">{{ field }}: {{ checkForValue(field, value) }}</span>
      </li>
    </ul>
  </div>
</div>
