.container-modal {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  
  .account-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .heading-section {
    margin: 20px 0;
  }
  
  .form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .input-container {
    position: relative;
  }
  
  input {
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .continue-button,
  button {
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #fff;
    text-decoration: none;
  }
  
  .name {
    display: flex;
    justify-content: space-between;
  }
  
  .signup-button button {
    color: #000;
    text-decoration: none;
    border: none;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-container {
    position: relative;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  .continue-button button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .continue-button button:hover {
    background-color: #45a049;
  }
  
  #toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .users-table {
    margin-top: 5vh;
    width: 100%;
    border-collapse: collapse;
  }
  
  .users-table th,
  .users-table td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .users-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .toggleOff {
    border-radius: 10px;
    border: 1px solid black;
    width: 50px;
    height: 20px;
    background-color: grey;
  }
  
  .toggleButtonOff {
    height: 18px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
  }
  .toggleOn {
    border-radius: 10px;
    border: 1px solid black;
    width: 50px;
    height: 20px;
    background-color: lightblue;
  }
  
  .toggleButtonOn {
    height: 18px;
    width: 20px;
    margin-left: 57%;
    border-radius: 10px;
    background-color: rgb(16, 80, 105);
  }
  