<link rel="stylesheet" href="/client/components/addBrandModal/addBrandModal.css" />
<div class="container-modal">
  <div class="heading-section">
    <h2>Add Brand!</h2>
  </div>

  <form name="addBrandForm" class="form-section" ng-submit="submitForm()">
    <div class="form-content">
      <div style="display: flex; gap: 20px" class="">
        <div class="form-field">
          <label for="name">Name</label>
          <div class="input-container">
            <input type="text" id="name" placeholder="Name" ng-model="formData.name" name="name" ng-pattern="/^[a-zA-Z\s]+$/" required />
            <p class="error-message" ng-show="addBrandForm.name.$error.pattern && addBrandForm.name.$dirty">Name should only contain letters.</p>
          </div>
        </div>
        <div class="form-field">
          <label for="email">Admin Email</label>
          <div class="input-container">
            <input type="email" id="email" placeholder="Email" ng-model="formData.email" name="email" ng-pattern="/^[a-zA-Z\d][^\s@]+@[^\s@]+\.[a-zA-Z]+$/" required />
            <p class="error-message" ng-show="addBrandForm.email.$error.pattern && addBrandForm.email.$dirty">Invalid email address.</p>
          </div>
        </div>
      </div>
      <div style="display: flex; gap: 20px" class="">
        <div class="form-field">
          <label for="brandEmail">Brand Support Email</label>
          <div class="input-container">
            <input type="email" id="brandEmail" placeholder="Brand Support Email" ng-model="formData.brandEmail" name="brandEmail" ng-pattern="/^[a-zA-Z\d][^\s@]+@[^\s@]+\.[a-zA-Z]+$/" required />
            <p class="error-message" ng-show="addBrandForm.brandEmail.$error.pattern && addBrandForm.brandEmail.$dirty">Invalid support email address.</p>
          </div>
        </div>
        <div class="form-field">
          <label for="password">Brand Email App Password</label>
          <div class="input-container">
            <input type="password" id="password" placeholder="Password" ng-model="formData.password" name="password" required />
          </div>
        </div>
      </div>
      <button class="continue-button btn btn-primary" type="submit">Create Brand</button>
    </div>
  </form>
</div>
