<link rel="stylesheet" href="/client/app/agent/agent.css" />
<div ng-include="'/client/components/sidePanel/sidePanel.html'"></div>
<div class="container" ng-controller="AgentController">
  <!-- <nav>
    <img ng-src="{{ brand.logo }}" alt="{{ brand.name }}" width="100px" />
    <div class="btns">
      <button ng-click="openPendingRequestsModal()" class="bellBtn"><i class="fa-regular fa-bell bell"></i></button>
      <button ng-click=" logout()">Logout</button>
    </div>
  </nav> -->

  <div class="createBtn">
    <!-- <button ng-show="agent.role == 'agent'" ng-class="{ 'green': agent.isOnline, 'red': !agent.isOnline }" ng-click="toggleOnlineStatus()">{{ agent.isOnline ? 'Go Offline' : 'Go Online' }}</button> -->
    <div ng-class="{toggleOff:!agent.isOnline}">
      <div ng-click="toggleOnlineStatus()" ng-class="{toggleButtonOff:!agent.isOnline}"></div>
  </div>
  <div ng-class="{toggleOn:agent.isOnline}">
      <div ng-click="toggleOnlineStatus()" ng-class="{toggleButtonOn:agent.isOnline}">
      </div>
  </div>
    <button class="btn btn-success" ng-click=" openCreateTicketModal()">Create Ticket</button>
  </div>
  <div id="detailsModal" ng-show=" show">
    <div class="modal-content">
      <div ng-include="'/client/components/detailsForm/detailsForm.html'"></div>
    </div>
  </div>

  <script type="text/ng-template" id="pendingRequestsModal.html">
    <div ng-include="'/client/components/pendingRequests/pendingRequests.html'"></div>
  </script>

  <script type="text/ng-template" id="createTicketModal.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">&times;</button>
    </div>
    <div class="modal-body">
        <!-- Include the content of createTicketModal.html here -->
        <div ng-include="'/client/components/createTicketModal/createTicketModal.html'"></div>
    </div>
  </script>

  <div class="content" ng-show="tickets">
    <h3 class="table-title">Tickets</h3>
    <div ng-include="'/client/components/ticketsTable/ticketsTable.html'"></div>
  </div>
</div>
