<link rel="stylesheet" href="/client/app/agent/agent.css" />
<div class="container" ng-controller="AgentController">
  <nav>
    <img ng-src="{{ brand.logo }}" alt="{{ brand.name }}" width="100px" />
    <div class="btns">
      <button ng-show="agent.role == 'agent'" ng-class="{ 'green': agent.isOnline, 'red': !agent.isOnline }" ng-click="toggleOnlineStatus()">{{ agent.isOnline ? 'Go Offline' : 'Go Online' }}</button>
      <button ng-click=" logout()">Logout</button>
    </div>
  </nav>

  <div class="btns">
    <button class="btn btn-success" ng-click=" openCreateTicketModal()">Create Ticket</button>
  </div>

  <div id="detailsModal" ng-show=" show">
    <div class="modal-content">
      <div ng-include="'/client/components/detailsForm/detailsForm.html'"></div>
    </div>
  </div>

  <script type="text/ng-template" id="createTicketModal.html">
    <div class="modal-header">
        <button class="close" type="button" ng-click="cancel()">&times;</button>
    </div>
    <div class="modal-body">
        <!-- Include the content of createTicketModal.html here -->
        <div ng-include="'/client/components/createTicketModal/createTicketModal.html'"></div>
    </div>
  </script>

  <script type="text/ng-template" id="ticketModal.html">
        <!-- Include the content of ticketModal.html here -->
        <div ng-include="'/client/components/ticketModal/ticketModal.html'"></div>
  </script>

  <div class="content">
    <!-- <div class="filter-row">
      <select ng-model="filters.status" ng-change="applyFilters()">
        <option value="">Filter by Status</option>
        <option value="Open">Open</option>
        <option value="In Progress">In Progress</option>
        <option value="Closed">Closed</option>
      </select>
      <select ng-model="filters.source" ng-change="applyFilters()">
        <option value="">Filter by Source</option>
        <option value="Email">Email</option>
        <option value="Manual">Manual</option>
      </select>
      <select ng-model="filters.relatedTo" ng-change="applyFilters()">
        <option value="">Filter by Related To</option>
      </select>
      <select ng-model="filters.type" ng-change="applyFilters()">
        <option value="">Filter by Type</option>
        <option value="Feature Request">Feature Request</option>
        <option value="Bug Report">Bug Report</option>
      </select>
      <select ng-model="filters.priority" ng-change="applyFilters()">
        <option value="">Filter by Priority</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>
    </div> -->
    <div ng-include="'/client/components/ticketsTable/ticketsTable.html'"></div>
  </div>
</div>
