<link rel="stylesheet" href="/client/app/superAdmin/superAdmin.css" />
<div ng-include="'/client/components/sidePanel/sidePanel.html'"></div>
<div class="container" ng-controller="SuperAdminController">
  <div class="content">

    <table class="users-table" ng-show="brands.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Logo</th>
          <th>Enable/Disable</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="brand in brands">
          <td>{{ brand.name }}</td>
          <td><img ng-src="{{ brand.logo }}" width="100" /></td>
          <!-- <td><button ng-click="disableBrand(brand._id, brand)">{{brand.isDisabled ? "Enable" : "Disable"}}</button></td> -->
          <td>
            <div ng-class="{toggleOff:brand.isDisabled}">
              <div ng-click="disableBrand(brand._id, brand)" ng-class="{toggleButtonOff:brand.isDisabled}"></div>
            </div>
            <div ng-class="{toggleOn:!brand.isDisabled}">
              <div ng-click="disableBrand(brand._id, brand)" ng-class="{toggleButtonOn:!brand.isDisabled}"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="toast" ng-show="show" class="toast">
      <div class="toast-body">Brand created successfully!</div>
    </div>
  </div>
</div>
