<link rel="stylesheet" href="/client/components/pendingRequests/pendingRequests.css" />
<div class="content">
  <div class="modal-header">
    <h4 class="modal-title">Pending Requests</h4>
    <button type="button" class="close" ng-click="closeModal()">&times;</button>
  </div>
  <div class="modal-body">
    <div class="container">
      <table class="request-table">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>From</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Type</th>
            <th>Request Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="request in requests">
            <td>#TC - 1</td>
            <td>{{ request.sender.name }}</td>
            <td style="font-weight: 600;">{{ request.ticket.title }}</td>
            <td>{{ request.ticket.description }}</td>
            <td><span ng-class="{'high-priority': request.ticket.priority === 'High', 'medium-priority': request.ticket.priority === 'Medium', 'low-priority': request.ticket.priority === 'Low'}">{{ request.ticket.priority }}</span></td>
            <td><span class="type"> {{request.ticket.type }}</span></td>
            <td>{{ request.ticket.createdAt | date: 'dd-MMM-yyyy' }}</td>
            <td style="display: flex; gap: 10px;">
              <button ng-click="acceptRequest(request._id)" style="max-width: 1.5vw; display: flex; justify-content: center; align-items: center; max-height: 6.5vh;" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
              <button ng-click="rejectRequest(request._id)" style="max-width: 1.5vw; display: flex; justify-content: center; align-items: center; max-height: 6.5vh;" class="btn btn-danger"><i class="fa-solid fa-xmark"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
