<link rel="stylesheet" href="/client/components/sidePanel/sidePanel.css" />
<!-- HTML -->

<div ng-controller="sideBarController">
  <div class="alert alert-success" ng-show="showSuccess">{{successMessage}}</div>
  <!-- <div class="alert alert-success" style="margin-top: 80px;" ng-show="showPassSuccess">{{successMessage}}</div>
    <div class="alert1 alert-danger" ng-show="showError">{{errorMessage}}</div> -->
  <!-- navbar -->
  <nav>
    <button ng-show="showSideBar" class="openbtn" ng-click="openSideBar=!openSideBar">&#9776;</button>
    <a class="navbar-brand">{{isSuperAdmin ? "Support App" : brand.name}}</a>
  </nav>
  <!-- sidebar -->

  <div class="sideBar" ng-show="openSideBar">
    <div class="profileClass">
      <div ng-if="userDetails.role!='SuperAdmin'" style="margin-left: 10px">
        <img ng-show="!isSuperAdmin" ng-src="{{brand.logo}}" alt="brandImage" />
      </div>
    </div>
    <hr />
    <div class="user">
      <i class="fa-regular fa-user"></i>
      <span class="user-name">{{user.name}}</span>
      <!-- <a href="#" class="change-password">Change Password</a> -->
      <a href="#" ng-click="logout()">Logout</a>
    </div>
    <div class="menu">
      <ul style="list-style-type: none">
        <li ng-click="goHome()"><a>Home</a></li>
        <li ng-click="show=true" ng-show="noLogo && isAdmin"><a>Add Logo</a></li>
        <li ng-click="openAddUserModal()" ng-show="isAdmin"><a>Add User</a></li>
        <li ng-click="openFieldModal('type')" ng-show="isAdmin"><a>Add Ticket Type</a></li>
        <li ng-click="openFieldModal('relation')" ng-show="isAdmin"><a>Add Ticket's Relation</a></li>
        <li ng-click="openAddBrandModal()" ng-show="isSuperAdmin"><a>Add Brand</a></li>
        <li ng-click="openPendingRequestsModal()" ng-show="!isSuperAdmin && !isAdmin"><a>Pending Requests</a></li>
        <li ng-click="openAnalytics()"><a>Analytics</a></li>
        <!-- Add more menu items as needed -->
      </ul>
    </div>
  </div>
</div>
