.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px; /* Adjust as needed */
    gap: 5px;
  }

  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .checkbox-label input[type="checkbox"] {
    width: 16px; /* Adjust the width and height to reduce the size */
    height: 16px;
    margin: 0;
    vertical-align: middle;
  }
  