<link rel="stylesheet" href="/client/components/createTicketModal/createTicketModal.css" />
<div class="container">
  <div class="heading-section">
    <h3 class="modal-title">Create Ticket</h3>
  </div>
  <div class="modal-body">
    <!-- Your form for creating a ticket goes here -->
    <form name="createTicketForm" ng-submit="createTicket()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title:</label>
        <input id="title" type="text" class="form-control" ng-model="newTicket.title" required />
      </div>

      <div class="form-code">
        <div class="form-group">
          <label for="source">Source:</label>
          <select id="source" class="form-control" ng-model="newTicket.source" required>
            <option value="email">Email</option>
            <option value="manual">Manual</option>
          </select>
        </div>

        <div class="form-group">
          <label for="type">Type:</label>
          <select id="type" class="form-control" ng-model="newTicket.type" required>
            <option ng-repeat="type in ticketTypes" value="{{type.name}}">{{type.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="relatedTo">Related To:</label>
          <select id="relatedTo" class="form-control" ng-model="newTicket.relatedTo" required>
            <option ng-repeat="relation in ticketRelations" value="{{relation.name}}">{{relation.name}}</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="priority">Priority:</label>
          <select id="priority" class="form-control" ng-model="newTicket.priority" required>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="attachments">Attachments:</label>
        <input id="attachments" type="file" class="form-control" ng-model="newTicket.attachments" multiple />
      </div>
      <button type="submit" class="btn btn-primary">Create Ticket</button>
    </form>
  </div>
</div>
